@charset "utf-8";
/* CSS Document */


#main {
	background-color: #CECECE;
	min-height: 80%;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Helvetica; 
	font-size: 16px;
	max-height: 520px;
	overflow: auto;
	
}

#wrap{
	width: 100%;
	min-height: 80%;
	background-color: #A9A9A9;
	max-width: 960px;
	min-width: 500px;
	margin-left: auto;
	margin-right: auto;
	
}

h1 {
	text-align: center;
	font-size:48px;
	font-family: Helvetica;
}

html {
	height: 80%;
	background-image: linear-gradient(to right, green, cyan);
	box-sizing: border-box;
	

}

#nav{
	height: 28px;
	position: relative;
	background-image: linear-gradient(to left, cyan, yellow);
	text-align: center;
	
	
}

#nav ul{
	max-width: 100%;
	list-style-type:none;
	align-content: center;
	font-style: bold;
	font-size: 22px;
}
#nav li {
	display:inline;

}


#nav a {
    width: auto;
	float:inherit;
    display: inline-block;
    color: #333;
    text-align: center;
    padding-left:  10px;
	padding-right: 10px;
	text-decoration: none;
    font-size: 20px;
}

#nav a:hover{
	background-color: aqua;
	color: black;
}

#nav a:active{
	background-color: green;
	color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E1E2E2;
    min-width: 140px;
	color: black;
}

.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display:inline-block;
	
}

.dropdown-content tr:hover{
	background-color: indianred;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display:block
	}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.img-display {
	width: 300px;
	height: 200px;
	text-align: left;
	margin: 15px;
	float: right;
	margin-bottom: 40px;
	
	
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}


#img-center {
	position: fixed;
	margin: 0 auto;
	background-color: #CECECE;	
}

.img-left {
	width: 400px;
	height: 300px;
	float: left;
	margin: 10px;
	margin-bottom: 30px;
}